$colors: (
  "body-background": rgb(245, 245, 245)
);

body {
  margin: 0;
  background-color: map-get($colors, "body-background");
}

// .sectionHeader:before{
//   content: " ";
//   display: block;
//   position: relative;
//   top: 23px;
//   left: -16px;
//   width: 8px;
//   height:3px;
//   background-color: black;
// }

// -------------------------------------------

.header-container {
  padding: 100px;
  color: white;

  h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 35px;
    margin-left: 12px;
  }

  .header-hr {
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-left: 12px;
    max-width: 500px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 10px;
  margin-left: 12px;

  a {
    color: white;
    margin-right: 40px;
  }
}

// -------------------------------------------

.nav-link {
  text-transform: uppercase;
  margin-right: 1.5rem;
}

.navbar,
.navbar-collapse {
  justify-content: end;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.nav-hover:after {
  content: " ";
  display: block;
  position: relative;
  top: -11px;
  left: -10px;
  width: 5px;
  height: 2px;
  background-color: white;
  opacity: 0;
  transition: 0.2s;
}

nav .nav-link.active::after {
  opacity: 1;
}

.nav-link:hover::after {
  opacity: 1;
}

// -------------------------------------------

.section-hr {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.section-margin {
  margin-top: 2rem;
}

.section-image {
  width: 200px;
  height: 200px;
}

.section-bg {
  background-color: rgb(255, 255, 255);
}

// -------------------------------------------

.skillset-icon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.skillset-button {
  height: 50px;
}

.skillset-border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.skillset-border-bottom{
  border-bottom: none;
}

.skillLast::after {
  content: ",and more...";
  color: #949494;
}

// -------------------------------------------

.projects-hr {
  border-top: 1px solid rgba(0, 0, 0, 0.35);
}

.projects-bg {
  background-color: rgb(240, 240, 240);
}

.projects-image {
  margin: 10px;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.projects-text {
  text-align: center;
}

.projects-text-container {
  p {
    text-align: center;
  }
}

.projects-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.projects-button {
  margin-right: 10px;
}

.projects-bottom-border {
  border-bottom: none;
}

// -------------------------------------------

.backgroundText {
  max-width: 500px;
  padding-bottom: 40px;
}

.backgroundEntryWrapper {
  display: flex;
  flex-direction: row;
}

.backgroundEntryContainer {
  display: flex;
  flex-direction: column;

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h4 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e9e9e9;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    height: 110px;
  }
}

.backgroundEntryDescription {
  color: rgb(68, 68, 68);
}

.backgroundEntryLocation {
  color: rgb(136, 136, 136);
}

.backgroundEntryLocation::before {
  content: " ";
  display: block;
  width: 7px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 14px;
  left: -15px;
}

// -------------------------------------------

@media screen and (max-width: 975px) {
  .backgroundEntryContainer {
    h4 {
      height: 170px;
    }
  }
}

@media screen and (max-width: 720px) {
  .projects-bottom-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .header-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .skillset-border-left {
    border-left: none;
  }

  .skillset-border-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .backgroundEntryWrapper {
    flex-direction: column;
  }

  .backgroundEntryBottomHr {
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
}

.contactsText {
  color: rgb(136, 136, 136);
}

.contactsValue {
  color: rgb(85, 85, 85);
}
